/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ecf0f1;
}

.content {
  display: flex;
  flex-grow: 1;
}

.left-panel {
  width: 20%;
  background-color: #bdc3c7;
  border-right: 1px solid #7f8c8d;
}

.canvas {
  width: 60%;
  background-color: #ffffff;
  border: 1px solid #7f8c8d;
  position: relative;
}

.right-panel {
  width: 20%;
  background-color: #bdc3c7;
  border-left: 1px solid #7f8c8d;
}
